#petshop-table {
    background-color: var(--primary-color);
    width: 100vw;
}

#header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-list > h2 {
    margin-right: 10px;
}

#scrollable-table {
    display: inline-block;
    max-height: 120px; 
    overflow-y: auto;
}

table {
    border-spacing: 0 5px;
    border-collapse: separate;
    width: 100vw;
}

th, td {
    text-align: center;
}

th {
    font-size: small;
    width: 100vw;
}

td {
    border-bottom: 1px solid white;
    padding: 10px;
}